[Unit]
Description=Todo Service

[Service]
Environment=REDIS_HOST=172.31.30.170:8080
ExecStart=/bin/node /home/ubuntu/todo/server.js
SyslogIdentifier =todo

[Install]
WantedBy=multi-user.target
