[Unit]
Description=Todo Service

[Service]
Environment=REDIS_HOST=REDIS_ENDPOINT
ExecStart=/bin/node /home/app/todo/server.js
SyslogIdentifier =todo

[Install]
WantedBy=multi-user.target
